.gif-section {
    margin-top: 20px;
    border: 1px solid #333;
}

.giphy {
    width: 19%;
    float: left;
    margin-right: 5px;
}

.card {
    padding: 3px;
    background: black;
    float: left;
    margin: 5px;
    min-height: 360px;
}

#gifs-appear-here img {
    z-index: 999;
    max-height: 230px;
}

h3.title {
    color: white;
}

p.rating {
    color: white;
}

button {
    margin-right: 5px;
}

a.downloadlink {
    color: white;
    margin-right: 5px;
    position: absolute;
    bottom: 6px;
    right: 0px;
}